@use './partials/variables' as *;

body{
    height: 100%;
    background-color:#141414;
    color: #e23946;
   
}

// background: rgb(232,61,71);
// background: linear-gradient(0deg, rgba(232,61,71,1) 42%, rgba(248,249,250,1) 95%);